.favorite-context {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .favorite-context {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
